@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web);
@font-face {
    font-family: 'FonteLogo';
    src: url("..//_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface {
    width: 1000px;
    background: #ffffff;
    margin: -20px auto 0px auto; /*nessa ordem: cima, direita, abaixo e esquerda*/
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 980px;
    top: 70px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid; /*largura, cor e tipo de borda*/
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; /*no-repeat impede que a imagem seja repetida
    por todo o cabeçalho, 0px é o deslocamento lateral e 100px é o deslocamento vertical*/
}

header#cabecalho h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);/*deslocamento, deslocamento vertical, espalhamento e preto claro*/
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/*Formatação de Imagens com legendas*/

figure.foto-legenda {
    position: relative;/*sem isso a legenda da foto fica flutuando no topo da página*/
    border: 8px solid white;
    box-shadow: 1px 1px 4px black; /*primeira medida, na ordem em que aparecem: 1 pixel de deslocamento horizontal
    1 px de deslocamento vertical, 4 px de espalhamento e cor preta.   */
}

figure.foto-legenda img{
	width: 100%;
	height: 100%;
}

figure.foto-legenda figcaption { /*legenda da foto1. ele é um objeto filho do primeiro figure*/
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption { /*sensação de sobreposição quando o mouse passar por cima; o :hover é
 escrito assim mesmo*/
    opacity: 1;
}

/*Formatação do Menu*/

nav#menu {
    display: block;/*transforma o menu em bloco*/
}

nav#menu ul { /*NÃO ESTÁ FUNCIONANDO*/
    list-style: none;
    text-transform: uppercase;
    position: absolute;/*faz com que o bloco do menu possa se movimentar por toda a página*/
    top: -20px;
    left: 400px;
}

nav#menu li {
    display: inline-block;/*dispõe o menu um ao lado do outro*/
    background-color: #dddddd;
    padding: 10px; /*espaçamento dentro de cada bloco*/
    margin: 2px; /*espaçamento fora de cada bloco*/
    transition: background-color 1s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px
}

article#noticia-principal h2{
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita {
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: #cecece;

}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8px;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 450px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #ffffff;
}

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}